<web-app>
<servlet><servlet-name>SessionExample</servlet-name><servlet-class>SessionExample</servlet-class></servlet>
<servlet><servlet-name>errorReport</servlet-name><servlet-class>errorReport</servlet-class></servlet>
<servlet><servlet-name>gifCounter</servlet-name><servlet-class>gifCounter</servlet-class></servlet>
<servlet><servlet-name>custMsg</servlet-name><servlet-class>custMsg</servlet-class></servlet>
<servlet><servlet-name>gzAuth</servlet-name><servlet-class>gzAuth</servlet-class></servlet>
<servlet><servlet-name>jspServlet</servlet-name><servlet-class>com.BajieSoft.jspCompiler.bJspServlet</servlet-class></servlet>
<servlet><servlet-name>IncludeExample</servlet-name><servlet-class>IncludeExample</servlet-class></servlet>
<servlet><servlet-name>CookieExample</servlet-name><servlet-class>CookieExample</servlet-class></servlet>
<servlet-mapping><servlet-name>SessionExample</servlet-name><url-pattern>/servlet/SessionExample</url-pattern></servlet-mapping>
<servlet-mapping><servlet-name>errorReport</servlet-name><url-pattern>/servlet/errorReport</url-pattern></servlet-mapping>
<servlet-mapping><servlet-name>CookieExample</servlet-name><url-pattern>/servlet/CookieExample</url-pattern></servlet-mapping>
<servlet-mapping><servlet-name>IncludeExample</servlet-name><url-pattern>/servlet/IncludeExample</url-pattern></servlet-mapping>
<servlet-mapping><servlet-name>custMsg</servlet-name><url-pattern>/servlet/custMsg</url-pattern></servlet-mapping>
<servlet-mapping><servlet-name>jspServlet</servlet-name><url-pattern>/servlet/jspServlet</url-pattern></servlet-mapping>
<servlet-mapping><servlet-name>gzAuth</servlet-name><url-pattern>/servlet/gzAuth</url-pattern></servlet-mapping>
<servlet-mapping><servlet-name>gifCounter</servlet-name><url-pattern>/servlet/gifCounter</url-pattern></servlet-mapping>
<servlet-mapping><servlet-name>jspServlet</servlet-name><url-pattern>*.jsp</url-pattern></servlet-mapping>
<mime-mapping><extension>txt</extension><mime-type>text/plain</mime-type></mime-mapping>
<mime-mapping><extension>htm</extension><mime-type>text/html</mime-type></mime-mapping>
<mime-mapping><extension>gif</extension><mime-type>image/gif</mime-type></mime-mapping>
<mime-mapping><extension>html</extension><mime-type>text/html</mime-type></mime-mapping>
<mime-mapping><extension>jpg</extension><mime-type>image/jpeg</mime-type></mime-mapping>
<session-config><session-timeout>1200</session-timeout></session-config>
<welcome-file-list><welcome-file>index.html</welcome-file><welcome-file>index.htm</welcome-file></welcome-file-list>
<error-page><exception-type>java.lang.Exception</exception-type><location>/errorReport.jsp</location></error-page>


<BajieServerProps>
<SERVLETAUTORELOAD>true</SERVLETAUTORELOAD>
<ALLOWEASYDEVSERVLET>true</ALLOWEASYDEVSERVLET>
<THREADSPOOLSIZE>100</THREADSPOOLSIZE>
<SERVERCLASSPATH>htdocs/WEB-INF/classes/;servlets</SERVERCLASSPATH>
<ERRORRPTSERVLETNAME>errorReport</ERRORRPTSERVLETNAME>
<DIRPROCESSING>1</DIRPROCESSING>
<HTTPCACHEORGINTVAL>600</HTTPCACHEORGINTVAL>
<HTTPMAXCACHESIZE>1024000</HTTPMAXCACHESIZE>
<INITTHREADSPOOLSIZE>20</INITTHREADSPOOLSIZE>
<BajieVersionControl>1</BajieVersionControl>
</BajieServerProps>

<BajieSrvCGIBINMapping>
<CGIMapTAG>/cgi/bin/</CGIMapTAG>
<CGIMapDIR>cgi/bin/</CGIMapDIR>
</BajieSrvCGIBINMapping>

</web-app>
