<?xml version="1.0" encoding="UTF-8"?>
<config>
<INSTALL_DIRECTORY>/</INSTALL_DIRECTORY>
<TT_HOST>143.107.231.203</TT_HOST>
<AMS>143.107.231.203</AMS>
<OZONE>143.107.231.203</OZONE>
<LOAD_TT_ONTOLOGY>YES</LOAD_TT_ONTOLOGY>
<RESTORE_TT_ONTOLOGY>NO</RESTORE_TT_ONTOLOGY>
<BUILD_STATISTICS_TREE>NO</BUILD_STATISTICS_TREE>
<RESTORE_COMPONENTS_DB>NO</RESTORE_COMPONENTS_DB>
</config>
